---
import React from 'react';
import Auth0ProviderWithHistory from '../auth/Auth0ProviderWithHistory';
import Layout from '~/layouts/Layout.astro'; // Astro component
import Header from '~/components/widgets/Header.astro'; // Astro component
import Footer from '~/components/widgets/Footer.astro'; // Astro component
import Announcement from '~/components/widgets/Announcement.astro'; // Astro component

import { headerData, footerData } from '~/navigation';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  children: React.ReactNode;
}

const PageLayout = ({ metadata, children }: Props) => {
  return (
    <Auth0ProviderWithHistory>
      <Layout metadata={metadata}>
        <slot name="announcement">
          <Announcement />
        </slot>
        <slot name="header">
          <Header {...headerData} isSticky showRssFeed showToggleTheme />
        </slot>
        <main>
          {children}
        </main>
        <slot name="footer">
          <Footer {...footerData} />
        </slot>
      </Layout>
    </Auth0ProviderWithHistory>
  );
};

export default PageLayout;
